{erl_opts, [debug_info]}.

{erlc_opts, [debug_info, report, verbose, warn_export_all,
             warn_export_vars, warn_obsolete_guard, warn_shadow_vars,
             warn_untyped_record, warn_unused_import, warnings_as_errors]}.

{deps, [{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
        {iso8601, {git, "git://github.com/erlsci/iso8601.git", {tag, "1.3.1"}}}]}.

{profiles, [{test,
             [{deps, [{gun,
                       {git, "git://github.com/ninenines/gun.git", {tag, "1.3.0"}}},
                      {meck,
                       {git, "git://github.com/eproxus/meck.git", {tag, "0.8.13"}}}]}]},
            {dev,
             [{deps, [{sync,
                       {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]}]}]}.

{ct_log_dir, "test/logs"}.
{ct_readable, true}.
{ct_opts, [{config, "config/test.config"}]}.

{shell, [{apps, [test_harness,
                 sync]}]}.

{relx, [{release, {test_harness, "0.0.1"},
         [test_harness]},

        {dev_mode, false},
        {include_erts, true},
        {sys_config, "config/sys.config"},

        {extended_start_script, false}]}.
